@model List<MyMvcApp.Models.Student>

<h2>Students</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td> 
                <td>@student.Name</td>
                <td>@student.Course</td>
            </tr>
        }
    </tbody>
</table>
